<!DOCTYPE html>
<html>
<!--Phần đầu-->

<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="forgotpassword.css">
</head>

<style>
    input::-ms-reveal,
    input::-ms-clear {
      display: none;
    }
    </style>
<!-- Phần thân -->

<body>
    <div class="parent">

        <div class="child">

            <div class="logo">
                <!-- <img class="img" alt="Picture ATech Digital" src="image.png"> -->
            </div>

            <div class="line_center"></div>

            <div class="sign_in_div">
                <h1 class="sign_in">Reset password</h1>

                <div class="line"></div>


                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Email / Phone number" name="email"
                        id='email' required />
                    <label for="email" class="form__label">Email / Phone number</label>
                </div>

                <p class="sign_up">
                    Remember account?
                    <span><a class="link_to_sign_in" href="/Project/SignIn/index.html">Sign in</a></span>
                </p>

                <input id="button_sign_in" type="button" value="Reset" title="Reset" />

                
            </div>

        </div>
    </div>



</body>

</html>